electron/node_modules
python-dist/
.build-venv/
release/
__pycache__
src/aicraw/agents/__pycache__
src/aicraw.egg-info
src/copaw.egg-info
console/node_modules
dist
dist-electron
logs
node_modules
build
src/aicraw/console

.DS_Store
